/* Landing Hero Section */
.hero-container {
  display: grid;
  gap: 0;
  grid-auto-rows: 100vh;
  grid-template-columns: 40vw 60vw;
  overflow: hidden;
}

/* Landing Hero Text Section */
.text-section {
  padding: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
}
.navigation > ul {
  display: flex;
  gap: 20px;
}
.icon {
  color: var(--primary-color-2);
  font-size: 1.5rem;
}

.heading {
  max-width: 30rem;
}

.heading > h1 {
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 2.5rem;
}

.heading > p {
  font-size: 1.25rem;
  margin-bottom: 6rem;
}

.btn-browse {
  border-bottom: 2px solid var(--primary-color-1);
  font-size: 1rem;
  padding-bottom: 5px;
  padding-right: 5px;
  text-decoration: none;
  transition: padding 0.1s;
}

.btn-browse:hover {
  padding-right: 10px;
}

.icon:hover,
.btn-browse:hover {
  color: var(--secondary-color-1);
}

/* Landing Hero Image Section */
.image-section {
  display: grid;
  grid-auto-rows: minmax(auto, 50vh);
  grid-template-columns: repeat(2, 1fr);
}

.image-section > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.image-section > img:last-child {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .hero-container {
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: 100vw;
  }
  .heading > h1 {
    font-size: 80px;
  }
}
