* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --primary-color-1: #03256c;
  --secondary-color-1: #06bee1;
  --primary-color-2: #1768ac;
  --secondary-color-2: #ffffff;
}

/* Landing Hero Section */
.hero-container {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-auto-rows: 100vh;
  gap: 0;
  overflow: hidden;
}

/* Landing Hero Text Section */
.text-section {
  padding: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;
}
.navigation > ul {
  display: flex;
  gap: 20px;
}
.icon {
  color: var(--primary-color-2);
  font-size: 1.5rem;
}

.heading {
  max-width: 30rem;
}

.heading > h1 {
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 2.5rem;
}

.heading > p {
  font-size: ;
  margin-bottom: 6rem;
}

.btn-browse {
  font-size: 1rem;
  text-decoration: none;
  padding-bottom: 5px;
  padding-right: 5px;
  border-bottom: 2px solid var(--primary-color-1);
}

.icon:hover,
.btn-browse:hover {
  color: var(--secondary-color-1);
}

/* Landing Hero Image Section */
.image-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, 50vh);
}

.image-section > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-section > img:last-child {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 100vw;
    grid-auto-rows: auto;
    gap: 2rem;
  }
  .heading > h1 {
    font-size: 80px;
  }
}
